    table {
      width: 100%;
      border: 2px;
      border-color: black;
      border-style: double;
      display: block;
    }

    td {
      user-select: none;
      width: 50;
      position: relative;
      border: 2px;
      border-color: black;
      border-style: double;

      margin-left: auto;
      margin-right: auto
    }

    td:hover {
      border: 2px;
      border-color: #09ff00;
      border-style: groove;
    }

    td .square {
      vertical-align: center;
      text-align: center;
      border: 0px;
      width: 50px;
      height: 50px;
      transition: 0.3s;
    }

    td .black {
      background-color: #a07c5e;
    }


    td .white {
      background-color: whitesmoke;
    }

    #board {
      display: inline-block;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
    }

    #board.rotated {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
    }

    .piece {
      width: 90%;

      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
    }

    .piece:hover {
      width: 97%;
    }

    .piece.rotated {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
    }

    .char {
      text-align: center;
    }

    .top {
      rotate: 180deg;
    }

    .right {
      rotate: 180deg;
    }

    #storage {
      display: none;
    }